<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SKATableViewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19B04E0C20569E8E00A3366A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B04E2520569E8F00A3366A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B04E3020569E8F00A3366A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
